*{
    margin: 0;
    padding: 25px;
}

body {
    text-align: center;
    background-color: var(--borda);
    font-size: 20px;
    color: var(--texto);
}


:root {
    --primeira-cor:" #B77667 ";
    --segunda-cor: " #644536 " ;

    --borda: " #C0BD84 ";

    --fundo: " #EEF1BD ";
    --texto: " #B2675E ";

}

